<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tori.app.msholmes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <!-- 사용권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM 관련 퍼미션 -->
    <permission android:name="tori.app.msholmes.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="tori.app.msholmes.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="tori.app.msholmes.activity.UIApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 메인 액티비티 -->
        <activity
            android:name=".activity.MainActivity" />
        <!-- 회원가입 액티비티 -->
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <!-- 로그인 액티비티 -->
        <activity
            android:name=".activity.LogInActivity"
            android:screenOrientation="portrait" />
        <!-- 소셜 로그인 가이드 액티비티 -->
        <activity
            android:name=".activity.guide.GuideActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <!-- 도움말 액티비티 -->
        <activity
            android:name=".activity.guide.HelpActivity"
            android:screenOrientation="portrait" />
        <!-- 프로필 액티비티 -->
        <activity
            android:name=".activity.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <!-- 설정 액티비티 -->
        <activity
            android:name=".activity.profile.SettingsActivity"
            android:screenOrientation="portrait" />
        <!-- Followers 액티비티 -->
        <activity
            android:name=".activity.profile.FollowersActivity"
            android:screenOrientation="portrait" />
        <!-- Following 액티비티 -->
        <activity
                android:name=".activity.profile.FollowingActivity"
                android:screenOrientation="portrait" />

    </application>

</manifest>